body{
    background: url(height.webp) no-repeat;
    background-size: 150%;
    height:auto;
}

h1{
 margin-left: 100px;
 margin-bottom: 10px;
 color: green;
}
h3{
  margin-left: 200px;
  margin-bottom: 40px;
  color: green;
}
h2{
  margin-left: 100px;
  bottom: 200px;
  color: rgb(255, 255, 255);
}
h4{
  margin-left: 100px;
  margin-top: 20px;
}
p{
  margin-right: 450px;
}
.responsive{
  margin-left:250px;
}
.b1{
  margin-right: 300px;
}
@media screen and (max-width: 425px) {
  body{
    width: 100%;
    background-size: auto 100%;
    height: 100%;
  }
  .responsive{
margin-left: 100px;
}
